/* Variabili */

:root{
    --am: #FFBE0B;
    --or: #FB5607;
    --rc: #D1345B;
    --b: #000000;
}

/* Body */

body{
    background-color: var(--or);
    color: var(--am);
}

*{
    font-family: "Montserrat", serif;
}

/* Background-color calasses */

.bg-am{
    background-color: var(--am);
}

.bg-or{
    background-color: var(--or);
}

.bg-rc{
    background-color: var(--rc);
}

.bg-b{
    background-color: var(--b);
}

.text-am{
    color: var(--am);
}

.text-or{
    color: var(--or);
}

.text-rc{
    color: var(--rc);
}

.text-b{
    color: var(--b);
}

/* Header */

.header-custom{
    height: 92vh;
    background-image: linear-gradient(rgba(255, 190, 12, 0.4), rgba(255, 190, 12, 0.4)) ,url(https://picsum.photos/2000);
    background-position: center;
    background-size: cover;
}

/* Navbar */

.navbar{
    min-height: 8vh;
}

.nav-link{
    color: var(--am);
    font-weight: bold;
}

.nav-link:hover{
    border-bottom: 1.5px solid var(--am);
}

.logo{
    width: 50px;
}